name: Red Uno (Santa Cruz)

on:
  schedule:
    - cron: '0 */4 * * *'
  
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

       
      - name: config
        run: |
          git config --global user.email "<>"
          git config --global user.name "Update"
      
      
      - name: grab m3u files
        run: |
          pwd
          cd ./core/platforms/
          python3 dailymotion.py "x8o9b6o" > ../../streams/Red_Uno_Santa_Cruz.m3u8
        
      - name: git add
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "Red Uno (Santa Cruz) updated"
          git push
