# This is a basic workflow to help you get started with Actions

name: TVX (Twitch)

# Controls when the workflow will run
on:
  schedule:
    - cron: '*/60 * * * *'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # 
      - name: get config
        run: |
          git config --global user.email "<>"
          git config --global user.name "Update"
          pip3 install streamlink
      
      
      - name: grab twitch stream
        run: |
          pwd
          cd ./core/platforms/
          python3 twitch.py "https://www.twitch.tv/canaltvx" > ../../streams/TVX.m3u8
          echo "m3u grabbed"
        
      - name: adding everything
        run: |
          git add -A
          ls -la 
          
      - name: commit & push
        run: |
          git commit -m "TVX (Twitch) updated"
          git push
